{% extends 'CartoFicheBundle::layout.html.twig' %}

{% block content %}
    <div id="wrap">
        <div class="titre">
            <h2>Création d'une catégorie</h2>
            <hr>
        </div>
        {{ form_start(form, {"action": path('carto_fiche_categorie_create')} ) }}
        <p>{{ form_label(form.libelle) }}</p>
        <p>{{ form_widget(form.libelle) }}</p>

        {{ form_end(form) }}
    </div>
{% endblock %}
