{% extends 'CartoFicheBundle::layout.html.twig' %}

{% block content %}
<p>Introduction
    La base de données des initiatives économiques et solidaires (BDIS) accueille toutes les structures se situant dans le champ de l’économie sociale et solidaire.
    Pour préciser ce périmètre, il nous semble indispensable de définir les conditions d’inscription d’une initiative dans la base de données à travers des valeurs, une éthique de fonctionnement et des engagements forts.
    Les valeurs des acteurs de la BDIS
    Les initiatives économiques et solidaires se fondent sur les valeurs suivantes :
    Une économie au service de l’homme et non pas au service du marché et du profit :
    Ces initiatives agissent pour une économie qui place l’Homme, et non le profit, au centre de sa démarche.
    Les excédents ne doivent pas servir à enrichir des personnes physiques ou morales au-delà d’une rémunération équilibrée de leur participation. Ils doivent être réinvestis pour développer les activités mais aussi pour améliorer les conditions de revenu et de travail.
    Ces initiatives promeuvent des échanges équitables entre les acteurs économiques
    La gouvernance démocratique
    La démocratie
    Les initiatives économiques et solidaires agissent à travers des organisations et des projets, qui permettent à tout individu de s’exprimer, d’être écouté, d’être acteur de son devenir social.
    La transparence
    Les initiatives économiques et solidaires agissent de façon transparente envers leurs salariés, leurs usagers et leurs partenaires. Cette transparence doit s’étendre notamment aux données financières de la structure et notamment aux placements financiers aux modes de rémunération des dirigeants.
    La solidarité
    Les initiatives économiques et solidaires agissent solidairement entre elles, et vis-à-vis des porteurs et bénéficiaires des projets. Les actions menées visent à renforcer la solidarité notamment entre les générations et entre les territoires.
    La solidarité instaure une équité dans la répartition des bénéfices et des charges et dans les droits entre les personnes qui s’y engagent. Elle s’inscrit dans la lutte contre toute forme de discrimination.
    Le développement durable
    Les projets les initiatives économiques et solidaires sont menés dans un esprit de développement durable, dans le respect l’environnement, et en solidarité avec les générations futures.
    Le développement local
    Les initiatives économiques et solidaires favorisent les actions qui répondent aux besoins des populations locales en coopération avec les acteurs de terrain.
    « Engagements des signataires de la charte de la BDIS
    Les initiatives s’inscrivant dans la BDIS s’engagent à respecter les valeurs définies précédemment et les principes suivants :
    Principe n°1 : l’objet principal de la structure, ses activités et ses projets sont fondés sur la recherche d’utilité sociétale (richesse humaine, sociale, culturelle et environnementale).
    Principe n°2 : les initiatives économiques et solidaires concourent à créer une activité économique qu’elle soit monétaire ou pas
    Principe n°3 : les initiatives économiques et solidaires s’engagent à mettre en oeuvre des modes démocratiques de décision et de gestion participative
    Principe n°4 : les initiatives économiques et solidaires s’impliquent dans une démarche de progrès fondé sur un droit de regard mutuel et un devoir de transparence dans leurs pratiques
    Nous nous reconnaissons dans les valeurs et les principes énoncés dans la présente charte des acteurs de BDIS et nous nous engageons à les mettre concrètement en oeuvre</p>
{% endblock %}